@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Lexend:wght@700&family=Manrope:wght@400;700;800&family=Montserrat:wght@100;200;400&family=Roboto:wght@300;400;500&display=swap');



body{
    background: #f1f1f1;
}


.navbar{
border-bottom: 1px solid rgb(219, 216, 216);
background: #f1f1f1 !important;
}

.custom-select{
    background: white;
    border: none;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 5px;
}


/*-------------------------- 
        DashBoard
--------------------------- */


.dashbord-heading .h4{
    color: #2C2945;
    font-family: montserrat, sans-serif;
    font-size: 24px;
    font-weight: 500;  
}


.dashbord-heading .p{
    color: #2C2945;
    font-family: montserrat, sans-serif;
    font-size: 10.8px;
    font-weight: 100;  
}
.dropdown{
  margin-right: 50px;
}
.dropdown-content{
  background: white;
  color: black;
  font-weight: 300;
  font-family: montserrat, sans-serif;
  z-index: 1;
  position: absolute;
  margin-right: 20px;
}

.dropdown-item {
    cursor: pointer;
}



@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
  
}
.blink{
	animation-name: blinker;
	animation-duration: 0.6s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
  

}
/*-------------------------- 
        Dashboard Index 
---------------------------*/

.card-index{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(188, 185, 185);

}


/*--------------------------------------
                Sidebar
 -------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
   
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;   
}
.logo{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.logo1{
  width: 30px;
}
.main {
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    transition: all 0.35s ease-in-out;
   
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
    color: black;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-logo h2{
  color: white;
  font-weight: 300;
}


#sidebar:not(.expand):hover{
    display: none;  
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}


.row li a:hover{
    border: none;
    background: none;
    color: #2C2945;
}

.row li a span:hover{
    color: #2C2945;
}

.row .col-3{
    margin-left: 10px;
}


.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
    
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
/* 
.sidebar-item span{
    color: black;
}

.sideicon{
    color: black;
} */



/*------------------------ 
        User List
---------------------------- */

.userlist .table td{
    font-size: 14px;
    font-family: montserrat,sans-serif;
}
.avatar-sml{
    width: 50px;
}


/*------------------------- 
        Dipartment 
----------------------------*/

.department .table td{
    font-size: 14px;
    font-family: montserrat,sans-serif;
}

/*---------------------------- 
          Holidays 
-----------------------------*/

.holidays table td {
  border: 1px solid #dddddd;
  text-align: left;
  font-weight: 350;
  font-family: montserrat,sans-serif;
  
}
.table.table_custom, .table.table_custom.spacing5 {
  border-spacing: 0 8px!important;
}
.table.table_custom {
  border-collapse: separate;

}
.table th{
  font-weight: 350;
  font-family: montserrat,sans-serif;
  border: none;
}

 /*------------------------------ 
            PaySlip 
 -------------------------------*/
 .payslip-img{
    width: 50px;
 }

/*-------------------------------- 
            Activites 
-----------------------------------*/

.timeline-item {
    border-left: 1px solid #d1d3d4;
    padding: 20px 30px;
    position: relative;
}

.activites-card{
    border: none !important;
}


/*-------------------------- 
        Employee List 
---------------------------*/

.employeeinputbtn{
    color: #6c757d!important;
    font-size: small !important;
}

.employeeli .table td{
    font-size: 14px;
    font-family: montserrat,sans-serif;
}



/*---------------------- 
        Footer 
------------------------*/

  
.footer {
bottom: 0;
}